{% include 'base.html' %}
<center style="font-family:Trirong, sans-serif;">
    {% block main %}
    <h1>Error</h1>
    <p>
        Sorry, but we cannot find what you are looking for...
    </p>
    {% endblock %}
</center>

{% block footer %}
<div class="text-center justify-content-center align-self-center pt-2" style="background: linear-gradient(70deg, #9fcabc, 40%, #aed4c1); font-size: 23px; height: 50px;    
    position: absolute; bottom: 0; width: 100%;">
    <span class="text-dark">Zoe's Fruit Garden &copy; 2023</span>
</div>
{% endblock %}