{% extends 'base.html' %}

{% block main %}
<style>
    @media (min-width: 992px) {
        .card-columns {
            column-count: 2;
        }

        .card-body {
            height: 400px;
        }

        .footer {
            font-size: 23px;
        }

        .h1 {
            font-size: 60px;
        }

        .h2 {
            font-size: 37px;
        }

        .h3 {
            font-size: 30px;
        }

        p {
            font-size: 20px;
        }

        .btn {
            font-size: 23px;
            padding-inline: 15px;
        }
    }


    @media (max-width: 991px) and (min-width: 577px) {
        .card-columns {
            column-count: 2;
        }

        .card-body {
            height: 750px;
        }

        .footer {
            font-size: 20px;
        }

        .h1 {
            font-size: 40px;
        }

        .h2 {
            font-size: 28px;
        }

        .h3 {
            font-size: 25px;
        }

        p {
            font-size: 18px;
        }

        .btn {
            font-size: 20px;
            padding-inline: 13px;
        }

    }

    @media (max-width: 576px) {
        .card-columns {
            column-count: 1;
        }

        .footer {
            font-size: 15px;
        }

        .h1 {
            font-size: 30px;
        }

        p {
            font-size: 14px;
        }

        .h2 {
            font-size: 20px;
        }

        .h3 {
            font-size: 14px;
        }

        .btn {
            font-size: 13px;
            padding-inline: 9px;
        }

    }

    .card {
        margin-bottom: 20px;
    }


    .footer {
        margin-top: 30px;
    }

    .card-footer {
        background-color: #f8f9fa;
    }
</style>
<!-- display fruits for the specific category -->
<section>

    <div class="text-dark" style="padding-top: 90px;">
        <div>
            <p class="h1 text-dark font-effect-shadow-multiple mb-4" style="font-family: Sofia, sans-serif;">Select a
                fruit from below</p>
        </div>
    </div>

    <div class="card-columns" style="font-family:Trirong, sans-serif;">
        <!-- each fruit is a bootstrap card -->
        {% for fruit in fruits %}
        <div class="card">
            <img class="card-img-top" src="{{ url_for('static', filename='img/'+fruit.image) }}" alt="{{fruit.name}}">
            <div class="card-body">
                <h2 class="card-title" style="font-weight: bolder;">{{ fruit.name }}</h2>
                <h3 class="card-title">A${{ fruit.price }}</h3>
                <p class="card-text" style="font-size: 22px;">{{ fruit.description }}</p>
            </div>
            <div class="card-footer">
                <form action="{{ url_for('main.order') }}" method="GET">
                    <input type="hidden" id="fruit_id" name="fruit_id" value="{{ fruit.id }}">
                    <button class="btn btn-info" type="submit">Add to
                        Shopping Cart</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>

</section>
{% endblock %}